<script setup>
import {inject} from 'vue'

const eventClock = inject('eventClock');
</script>

<template>
    <div>
        {{ eventClock.currentTime.hhmm }}
    </div>
</template>


<style scoped>

</style>