<script setup>
import {inject, onBeforeMount, onBeforeUnmount, reactive} from 'vue'
import Digit from "@/components/Digit.vue";

const eventClock = inject('eventClock');

const digits = reactive([0, 0, 0, 0]);

const DOW = ["monday", "tuesday", "wednesday", "thursday", "friday"];

function input_changed(ref, event) {
    digits[ref] = event;
    eventClock.setDebugTime(`${digits[0]}${digits[1]}:${digits[2]}${digits[3]}`);
}

// noinspection JSUnusedLocalSymbols
function dow_changed(dow, event) {
    eventClock.setDebugDayOfWeek(dow);
}

onBeforeMount(() => {
    const now = eventClock.currentTime.hhmm;
    eventClock.setDebugTime(now);

    digits[0] = parseInt(now[0], 10);
    digits[1] = parseInt(now[1], 10);
    digits[2] = parseInt(now[3], 10);
    digits[3] = parseInt(now[4], 10);
});

onBeforeUnmount(() => {
    eventClock.setDebugTime(undefined);
    eventClock.setDebugDayOfWeek(undefined);
});

</script>

<template>
    <div>
        <div class="wrapper">
            <div class="head">
                Debugger
            </div>
            <div class="body">
                <div v-for="dow in DOW" class="dow">
                    <a :class="{ selected: dow === eventClock.currentTime.dayname}"
                       v-on:click="(event) => {dow_changed(dow, event)}">{{ dow }}</a>
                </div>
                <div>
                    <Digit :max=2 :min=0 :value="digits[0]" v-on:input="(event) => { input_changed(0, event); }"/>
                    <Digit :max=9 :min=0 :value="digits[1]" v-on:input="(event) => { input_changed(1, event); }"/>
                    &nbsp;
                    <Digit :max=5 :min=0 :value="digits[2]" v-on:input="(event) => { input_changed(2, event); }"/>
                    <Digit :max=9 :min=0 :value="digits[3]" v-on:input="(event) => { input_changed(3, event); }"/>
                </div>
            </div>
        </div>
    </div>
</template>


<style scoped>

.wrapper {
    position: fixed;
    top: 100px;
    left: 1500px;
    width: 300px;
    background: rgba(0, 0, 0, 0.2);
}

.wrapper div {
    padding: 0.2em;
}

.dow {
    cursor: pointer;
}

.dow a.selected {
    background: rgba(0, 0, 0, 0.2);
}

.head {
    background: rgba(0, 0, 0, 0.2);
}

</style>
