<template>
    <div class="digit-counter">
        <div class="counter-controls">
            <button @click="increment">+</button>
        </div>
        <div class="counter-value">{{ value }}</div>
        <div class="counter-controls">
            <button @click="decrement">-</button>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        value: {
            type: Number,
            default: 5
        },
        min: {
            type: Number,
            default: 0
        },
        max: {
            type: Number,
            default: 9
        },
        step: {
            type: Number,
            default: 1
        }
    },
    methods: {
        increment() {
            const newValue = this.value + this.step;
            if (newValue <= this.max) {
                this.$emit('input', newValue);
            }
        },
        decrement() {
            const newValue = this.value - this.step;
            if (newValue >= this.min) {
                this.$emit('input', newValue);
            }
        }
    }
};
</script>

<style>
.digit-counter {
    display: inline-block;
    text-align: center;
}

.counter-value {
    font-size: 48px;
}

.counter-controls {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

button {
    border: none;
    background: none;
    margin: 0 10px;
    cursor: pointer;
    font-size: 24px;
}

button:focus {
    outline: none;
}

i {
    color: #333;
}
</style>
