<script>

function collision(sprite, boxes) {

    const spriteX = sprite.posX + 32;
    const spriteY = sprite.posY + 42;

    for (const box of boxes) {
        if (box.left <= spriteX && box.right >= spriteX && spriteY <= box.top && spriteY + sprite.speedY >= box.top) {
            if (sprite.speedY === 0 || Math.random() > 0.5) {
                return box;
            }
        }
    }

    return null;
}

function genSpeedY() {
    return 5 + 2 * Math.random();
}

export default {

    mounted() {
        const canvas = document.getElementById('raster');
        this.context = canvas.getContext('2d');
        this.context.imageSmoothingEnabled = false;

        this.image = new Image();
        this.image.src = '/lemmings/37732.png';

        this.boxes = [];
        for (const slot of window.document.getElementsByClassName('slot')) {
            this.boxes.push(slot.getBoundingClientRect());
        }

        if (this.boxes.length) {
            this.id = window.requestAnimationFrame(
                this.drawFrame
            );
        }
    },

    unmounted() {
        window.cancelAnimationFrame(this.id);
        this.id = undefined;
        this.frame = undefined;
    },

    data() {
        return {
            id: undefined,
            frame: 0,
            sprites: [],
            spritecount: 10,
            animations: {
                walk_l: [16, 10],
                walk_r: [16, 0],
                fall_l: [16, 30],
                fall_r: [16, 20]
            },
            boxes: [],
            context: undefined,
            image: undefined
        }
    },

    methods: {
        drawFrame() {
            while (this.sprites.length < this.spritecount) {
                let sprite = {
                    posX: 100 + 1800 * Math.random(),
                    posY: -100 * Math.random(),
                    speedY: genSpeedY(),
                    phase: 'fall_r',
                    animBaseFrame: this.frame
                }

                this.sprites.push(sprite);
            }

            this.frame++;

            // In the initial 2022 code, we clear the whole context at the beginning of each frame
            // this.context.clearRect(0, 0, 1920, 1080);

            // Now we try to improve performance by only clearing actual sprite area
            for (let spriteIndex in this.sprites) {
                let sprite = this.sprites[spriteIndex];
                this.context.clearRect(sprite.posX, sprite.posY - 1, 64, 44);
            }

            for (let spriteIndex in this.sprites) {
                let sprite = this.sprites[spriteIndex];

                if (sprite.phase === 'fall_r') {
                    const collidingBox = collision(sprite, this.boxes);

                    if (collidingBox) {
                        sprite.posY = collidingBox.top - 42;
                        sprite.phase = 'walk_r';
                        sprite.speedY = 0;
                    } else {
                        sprite.posY += sprite.speedY;

                        if (sprite.posY > 1080) {
                            sprite.posX = 100 + 1800 * Math.random();
                            sprite.posY = -100 * Math.random();
                            sprite.phase = 'fall_r';
                            sprite.speedY = genSpeedY();
                        }
                    }
                } else if (sprite.phase === 'walk_r') {
                    const collidingBox = collision(sprite, this.boxes);

                    if (collidingBox) {
                        sprite.posX += 1;
                    } else {
                        sprite.phase = 'fall_r';
                        sprite.speedY = genSpeedY();
                    }
                }

                const animationBase = this.animations[sprite.phase];
                const animationStep = Math.round((this.frame - sprite.animBaseFrame) / 10) % 4;

                this.context.drawImage(this.image,
                    animationBase[0] + 16 * animationStep, animationBase[1], 16, 10,
                    sprite.posX, sprite.posY, 64, 40);
            }

            this.id = window.requestAnimationFrame(this.drawFrame);
        }
    }
}
</script>

<template>
    <div>
        <canvas id="raster" height="1080" width="1920"></canvas>
    </div>
</template>

<style scoped>
</style>
