<script>
export default {
    mounted() {
        this.image = new Image();
        this.image.src = '/solitaire/roicoeur_sprite.png';

        const canvas = document.getElementById('egg');
        this.context = canvas.getContext('2d');

        this.id = window.requestAnimationFrame(
            this.drawFrame
        );
    },

    destroyed() {
        window.cancelAnimationFrame(this.id);
        this.id = undefined;
        this.posX = undefined;
    },

    data() {
        return {
            id: undefined,
            posX: undefined,
            image: undefined,
            context: undefined
        }
    },

    methods: {
        drawFrame() {
            if (this.posX === undefined) {
                this.posX = 1500 + 300 * Math.random();
                this.posY = 200 + 300 * Math.random();
                this.spdX = -5;
                this.spdY = 0;
            }

            this.context.drawImage(this.image, this.posX, this.posY, 71 * 2, 96 * 2);

            if (this.posY > 900) {
                this.spdY = -this.spdY * 0.9;
            }

            this.posX += this.spdX;
            this.posY += this.spdY;

            this.spdY += 1;

            if (this.posX < -150) {
                this.posX = undefined;
            }

            this.id = window.requestAnimationFrame(this.drawFrame);
        }
    }
}
</script>

<template>
    <div>
        <canvas id="egg" height="1080" width="1920"></canvas>
    </div>
</template>

<style scoped>
</style>
