<script setup>
const props = defineProps(['from', 'to', 'now']);
import {computed} from 'vue'

function toMinutes(tstr) {
    return Number(tstr.substring(0, 2)) * 60 + Number(tstr.substring(3, 5));
}

const status = computed(function () {
    const sFrom = toMinutes(props.from);
    const sTo = toMinutes(props.to);
    const sNow = toMinutes(props.now);

    return {max: sTo - sFrom, val: sNow - sFrom};
});

</script>

<template>
    <div>
        <progress :max="status.max" :value="status.val"/>
    </div>
</template>

<style scoped>
.amigaos progress {
    background-color: black;
    border: 2px solid white;
    margin-top: 16px;
    margin-bottom: 4px;
}

.amigaos progress::-webkit-progress-bar,
.amigaos progress::-moz-progress-bar {
    background-color: #f28202; /* Set the color of the progress bar */
}


progress {
    width: 100%;
}

</style>
