<script setup>
import Slot from '@/components/Slot.vue'
import Clock from '@/components/Clock.vue'
import Progress from '@/components/Progress.vue'
import EggCrash from '@/components/EggCrash.vue'
import Debugger from '@/components/Debugger.vue'
import EggSolitaire from '@/components/EggSolitaire.vue'
import EggLemmings from '@/components/EggLemmings.vue'
import {computed, inject, ref} from 'vue'

const slotService = inject('slotService');
const eventClock = inject('eventClock');
const roomService = inject('roomService');
const props = defineProps(['roomId']);

const debuggerVisible = ref(false);

const currentSlot = computed(function () {
    return slotService.getCurrentSlot(props.roomId,
        eventClock.currentTime.dayname,
        eventClock.currentTime.hhmm);
});

const currentSlots = computed(function () {
    return slotService.getCurrentSlots(
        eventClock.currentTime.dayname,
        eventClock.currentTime.hhmm);
});

const nextSlot = computed(function () {
    return slotService.getFollowingSlot(props.roomId,
        eventClock.currentTime.dayname,
        eventClock.currentTime.hhmm);
});

const comingSoon = computed(function () {
    return slotService.getFollowingSlots(
        eventClock.currentTime.dayname,
        eventClock.currentTime.hhmm,
        16);
});

const roomName = computed(function () {
    return roomService.getRoom(props.roomId).name;
});

const roomCode = computed(function () {
    let baseName = roomService.getRoom(props.roomId).name;
    baseName = baseName.toLowerCase();
    baseName = baseName.replaceAll(' ', '');
    return baseName;
});

const easterEggCrashVisible = computed(function () {
    return eventClock.currentTime.hhmm === '13:37';
});

const easterEggSolitaireVisible = computed(function () {
    return eventClock.currentTime.hhmm.substring(3) === '42';
});

const easterEggLemmingsVisible = computed(function () {
    return eventClock.currentTime.hhmm.substring(3) === '12';
});
</script>

<template>
    <div :class="roomCode">
        <div class="background">

        </div>
        <div class="wrapper">
            <Debugger v-if="debuggerVisible"/>
            <EggCrash v-if="easterEggCrashVisible" :roomCode="roomCode"/>
            <EggSolitaire v-if="easterEggSolitaireVisible"/>
            <EggLemmings v-if="easterEggLemmingsVisible"/>
        </div>
        <table class="head">
            <tbody>
            <tr>
                <td class="logo">
                    <RouterLink :to="`/`"><img alt="Voxxed Days Luxembourg" src="/logo-mid.png"/></RouterLink>
                </td>
                <td class="roomname">
                    <h2>{{ roomName }}</h2>
                </td>
                <td class="clock">
                    <h2>
                        <Clock @click="debuggerVisible = !debuggerVisible"/>
                    </h2>
                </td>
            </tr>
            </tbody>
        </table>
        <table class="vlayout">
            <tbody>
            <tr>
                <td>
                    <div v-if="currentSlot" class="slot slot-current">
                        <h2>En ce moment:</h2>
                        <Slot :slot-id="currentSlot.id"/>
                        <div>
                            <Progress :from="currentSlot.fromTime" :now="eventClock.currentTime.hhmm"
                                      :to="currentSlot.toTime"/>
                        </div>
                    </div>

                    <div v-if="nextSlot" class="slot slot-next">
                        <h2>Prochaine session:</h2>
                        <Slot :slot-id="nextSlot.id"/>
                    </div>

                </td>
                <td>
                    <div v-if="currentSlots.length" class="slot slot-soon">
                        <h2>Conférences en cours</h2>
                        <table>
                            <tbody>
                            <tr v-for="slot in currentSlots">
                                <td class="cell-room">{{ slot.room.name }}</td>
                                <td class="cell-title">{{ slot.proposal.title }}</td>
                                <td class="cell-progress">
                                    <Progress :from="slot.fromTime"
                                              :now="eventClock.currentTime.hhmm"
                                              :to="slot.toTime"/>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div v-if="comingSoon.length" class="slot slot-soon">
                        <h2>À venir...</h2>
                        <table>
                            <tbody>
                            <tr v-for="slot in comingSoon">
                                <td class="cell-time">{{ slot.fromTime }}</td>
                                <td class="cell-room">{{ slot.room.name }}</td>
                                <td class="cell-title">{{ slot.proposal.title }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<style scoped>

div.background {
    position: fixed;
    width: 100%;
    height: 1080px;
    top: 0;
    left: 0;
    z-index: -20;
}

.amigaos div.background {
    background-color: #0252a2;
}

.amigaos div, .amigaos h2 {
    font-family: Workbench, sans-serif;
}

.amigaos .slot {
    border: 4px solid white;
    padding: 0;
    margin-bottom: 32px;
}

.amigaos .slot > div,
.amigaos .slot > table {
    margin: 8px;
}


.amigaos .slot h2 {
    color: #0252a2;

    padding: 0;
    border: 2px solid white;

    background: white;
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 1) 10%,
        rgba(255, 255, 255, 0) 10%,
        rgba(255, 255, 255, 0) 33%,
        rgba(255, 255, 255, 1) 33%,
        rgba(255, 255, 255, 1) 66%,
        rgba(255, 255, 255, 0) 66%,
        rgba(255, 255, 255, 0) 90%,
        rgba(255, 255, 255, 1) 90%,
        rgba(255, 255, 255, 1) 100%
    ),
    linear-gradient(
        90deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 1) 28%,
        rgba(255, 255, 255, 0) 28%,
        rgba(255, 255, 255, 0) 100%
    );
}

table.head {
    width: 100%;
    border: 0;
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
}

table.head td {
    padding: 12px;
    vertical-align: middle;
    width: 33%;
}

td.cell-time {
    width: 90px;
    text-align: center;
}

td.cell-room {
    width: 200px;
}

td.cell-progress {
    padding-left: 10px;
    padding-right: 10px;
}

.slot h2 {
    border-bottom: 1px dotted rgba(255, 255, 255, 0.8);
    margin-top: 0;
    padding-bottom: 6px;
}

table.vlayout > tr > td {
    width: 50%;
}

div.slot {
    margin: 8px;
    padding: 16px;
    background-color: rgba(25, 25, 25, 0.1);
    border: 2px solid rgba(25, 25, 25, 0.4);
}

td.logo {
    text-align: left;
}

td.roomname {
    text-align: center;
    font-size: 150%;
    text-shadow: 3px 3px 5px black;
}

td.roomname h2 {
    margin: 0;
    padding: 0;
}

td.clock {
    text-align: right;
    padding-right: 42px;
}

.wrapper {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 20;
}

</style>
