<script setup>
import Talk from '@/components/Talk.vue'
import {computed, inject} from 'vue'

const props = defineProps(['slotId']);
const slotService = inject('slotService');

const slot = computed(function () {
    let slotId = props.slotId;
    console.log('Setting up template for slot', slotId);
    return slotService.getSlot(slotId);
});

</script>

<template>
    <div>
        <Talk v-if="slot.proposal" :from-time="slot.fromTime" :talk-id="slot.proposal.id" :to-time="slot.toTime"/>

        <div v-if="slot.break">
            <h3>
                {{ slot.break.nameFR }}
            </h3>
        </div>
    </div>
</template>

<style scoped>

</style>
