<script setup>
import {computed, inject} from 'vue'

const props = defineProps(['speakerId']);
const speakerService = inject('speakerService');


const speaker = computed(function () {
    return speakerService.getSpeaker(props.speakerId);
});

</script>

<template>
    <div v-if="speaker" class="speaker">
        <img :alt="speaker.firstName" :src="'/avatars/' + speakerId"/>
        {{ speaker.firstName }} {{ speaker.lastName }} ({{ speaker.company }})
    </div>
</template>

<style scoped>

div.speaker {
    padding-right: 20px;
    font-weight: bold;
}

img {
    vertical-align: middle;
    height: 50px;
    border-radius: 50%;
}

</style>
