<script setup>
import Speaker from '@/components/Speaker.vue'
import {computed, inject} from 'vue'

const props = defineProps(['talkId', 'fromTime', 'toTime']);
const slotService = inject('slotService');
const speakerService = inject('speakerService');

const talk = computed(function () {
    return slotService.getTalk(props.talkId);
});

</script>

<template>
    <div class="wrapper">
        <div class="tag">
            [{{ talk.track.name }}]
        </div>
        <div>
            <h2>{{ fromTime }} - {{ toTime }} : {{ talk.title }}</h2>
        </div>
        <!--    <div class="tag">-->
        <!--      [{{ talk.talkType }}]-->
        <!--    </div>-->
        <table>
            <tbody>
                <tr>
                    <td v-for="speaker in talk.speakers">
                        <Speaker :speaker-id="speaker.id"/>
                    </td>
                </tr>
            </tbody>
        </table>

        <div v-html="talk.summary">
        </div>
    </div>
</template>

<style scoped>
.tag {
    float: right;
    background: rgba(255, 255, 255, 0.2);
    padding: 10px;
    margin-left: 8px;
    font-size: small
}

</style>
