<script setup>
import {inject} from 'vue'

const roomService = inject('roomService');
</script>

<template>
    <div class="wrapper">
        <div>
            Welcome to Voxxed Days Luxembourg meeting rooms:
        </div>
        <div>
            <ul>
                <li v-for="room in roomService.getRooms()">
                    <RouterLink :to="`/room/${room.id}`">{{ room.name }}</RouterLink>
                </li>
            </ul>
        </div>
    </div>
</template>

<style scoped>
.wrapper {
    margin-top: 200px;
    padding: 64px;

    background: rgba(255, 255, 255, 0.2);
}

.wrapper a {
    color: inherit;
}

</style>