<script setup>
import {useRoute} from 'vue-router';
import Room from '@/components/Room.vue'

const route = useRoute();
const roomid = route.params.roomid;
</script>

<template>
    <main>
        <Room v-bind:room-id="roomid"/>
    </main>
</template>
