@font-face {
    font-family: 'Sansation';
    src: url("/fonts/Sansation_Regular.ttf");
}

@font-face {
    font-family: 'Sansation-Light';
    src: url("/fonts/Sansation_Light.ttf");
}

@font-face {
    font-family: 'Sansation-Light';
    src: url("/fonts/Sansation_Light.ttf");
}

@font-face {
    font-family: 'Workbench';
    src: url("/fonts/Workbench-Regular.ttf");
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "BLED" 0,
    "SCAN" 0;
}

h1, h2, h3, h4 {
    font-family: Sansation, sans-serif;
}

div, p {
    font-family: Sansation-Light, sans-serif;
}

body {
    padding: 0;
    margin: 0;
    background-image: url("/backdrop.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

div, a {
    color: white;
    text-decoration: none;
}

html {
    overflow-y: hidden;
}
